header {
  display: flex;
  align-items: flex-start;
}

header p {
  display: flex;
  align-items: ;
}

body {
  /* display: flex;
  justify-content: center; */
}

button {
  color: white;
  background-color: purple;
}